<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/iconv2.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Progressive Web Test
      </a>
    </div>
  </nav>
  <div class="row my-3">
    <div class="col">
      <button *ngIf="!isFetching" class="btn btn-primary" (click)="reload()">What's New</button>
      <button *ngIf="isFetching" class="btn btn-primary">
        กำลังโหลด...
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Distributor</th>
          <th scope="col">Worldwide Gross</th>
          <th scope="col">Director</th>
          <th scope="col">Release Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of movies()">
          <td>{{item['Title']}}</td>
          <td>{{item['Director']}}</td>
          <td>{{item['Worldwide_Gross'] | number}}</td>
          <td>{{item['Director']}}</td>
          <td>{{item['Release_Date']}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
